streamlit
gradio
wordcloud
Pillow
pandas
numpy
scikit-learn
xgboost
openai-whisper
torch
streamlit-mic-recorder
apscheduler
openpyxl
nltk
crewai
google-genai
google-generativeai
matplotlib
seaborn
python-docx
pypdf
python-dotenv
requests
